
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.nav :hover{
 color: #9c0e26;
}

nav {
    background-color: #2ecc71;
    color: #fff;
    padding: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#abt ,#parties {
    margin: 20px;
}

article {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}
.btn {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
        }

        .btn:hover {
            background-color: #b8b50e;
        }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
